*.class
*.log
*.o
.cache
.history
*.gdb_history
*.DS_Store
target/

project/boot/
project/plugins/project/

tags
*.swp
bazel-*
*.pb.cc
*.pb.h
/spark/.idea
/spark/*.iml
SConstruct
SConscript
build/
job/

.idea/
cmake-build-debug/
cmake-build-release/
CMakeLists.txt

.cache/
.downloads/

3rd/boost
3rd/boost_1_68_0/
3rd/gflags
3rd/gflags-2.2.1/
3rd/glog
3rd/glog-0.4.0/
3rd/googletest
3rd/googletest-release-1.8.1/
3rd/yas
3rd/yas-7.0.1/
3rd/yas-7.0.2/
3rd/sparsehash
3rd/sparsehash-2.0.3/
3rd/jemalloc
3rd/jemalloc-5.2.0/
3rd/dlpack/
3rd/dlpack-0.2/
